
*{
    margin: 20px;
    padding: 30px;
}


#encabezado3{
    text-align: center;
    color: #0B2447;
    background-color: #DAF5FF;
}

.centradito{
    text-align: center;
    background-color: #DAF5FF;
}