.contenedor {

    display: grid;
    grid-template-areas:
        'A A A A'
        'B B B B'
        'C C C C'
        'D D D D'
        'E E E E';
}

header {
    grid-area: A;
    background-color: #522cbb;
}

nav {
    grid-area: B;
    background-color: #ebc683;
}

aside {
    grid-area: C;
    background-color: #13005A;
}

main {
    grid-area: D;
    background-color: #ee975d81;
}

footer {
    grid-area: E;
    background-color: #ec7e5c7c;
}